@charset "UTF-8";

body {
    background-color: #d7d7d7;
    background-attachment: fixed;
    box-sizing: border-box;
}


header {
    margin: 5px;
    padding: 10px;
}

header > h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}

header > p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    text-align: center;
    padding-bottom: 5px;
}

.icone {
    width: 50px;
    display: block;
    margin: auto;
    padding-bottom: 1px;
}

main {
    font-size: 0.9em;
    margin: auto;
}

main h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

main h2:hover::after {
    content: '\1F517' ;
}

main p {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.7em;
}

main img {
    display: block;
    margin: auto;
    width: 250px;
}

section.cont {
    position: relative;
    margin-bottom: 250px;
    width: 400px;
}

section.img1 {
    position: absolute;
    
    top: 50%;
    left: 50%;

    transform: translate(-60%, 50%);
}

section.img2 {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-60%, 260%);
}

ul > a {
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5em;
    text-decoration: none;
}

ul.html-css > a:hover {
    color: rgb(167, 45, 1);
}

ul.javascript > a:hover {
    color: rgb(168, 168, 1);
}
 footer {
    text-align: center;
 }

footer > p > a {
    text-decoration: none;
 }